logs/
**/node_modules/
**/media/
**/.DS_Store
.idea/
**/__pycache__
*.aux
*.log
*.db
*.rdb
*.pid
*.toc
*.out
*.pickle
celerybeat-schedule                                                                     
.ipynb_checkpoints
env/

