[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www
Group=www-data
WorkingDirectory=/d/Python_work/react_django_project/src
ExecStart=/d/Python_work/react_django_project/env/bin/gunicorn --workers 3 --bind unix:/d/Python_work/react_django_project/gunicorn/gunicorn.sock config.wsgi:application --access-logfile /d/Python_work/react_django_project/gunicorn/access.log --error-logfile /d/Python_work/react_django_project/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
