
@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.App{
  display: flex;
}



.home-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
}
.home-decsription{
  margin-top: 1em;
  text-align: center;
}
.work-link:hover {
  text-decoration: none;
}
.work-done {
  margin-top: 10px;
}
