/* skill search */
.no-pointable:hover {
  background: unset !important;
}

.no-pointable > * {
  cursor: default !important;
}

.main {
  background: #545454;
}

.disabled {
  background: rgba(59, 59, 59, 0.582) !important;
}

.wd-1200 {
  margin: 0 auto;
  width: 1200px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.portfolio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 900px;
}

.portfolio_loader {
  margin-top: 50px;
}

.flat_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-box {
  position: relative;
}

.skill-box:hover {
  background: rgba(197, 197, 197, 0.342);
}

.skills__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
  padding: 10px 5px 5px 5px;
}

.skills__title {
  font-size: 25px;
}

@-webkit-keyframes slide_to_top {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes slide_to_top {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background: #545454;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

.left {
  direction: rtl;
}

.right {
  direction: ltr;
}

.skills-info {
  width: 220px;
  overflow: hidden;
  max-height: 80vh;
}

.skills-info:hover {
  overflow-y: overlay;
  z-index: 10;
}

.skills-info__left {
  padding: 0 9px;
}

.skills-info__left .skill-card {
  -webkit-animation: slide_to_top 1s ease forwards;
          animation: slide_to_top 1s ease forwards;
}

.skills-info__right {
  padding: 0 9px;
}

.skills-info__right .skill-card {
  -webkit-animation: slide_to_top 1s ease forwards;
          animation: slide_to_top 1s ease forwards;
}

.skill-card {
  margin-bottom: 10px;
  width: 100%;
}

.skill-card:last-child {
  margin-bottom: 0;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  min-height: 30px;
  min-width: 80px;
  border: 1px dashed;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.skill__description {
  position: absolute;
  top: 100%;
  width: 250px;
  z-index: 10;
  padding-top: 12px;
  color: whitesmoke;
}

.skill_no-wrap {
  white-space: nowrap;
}

.description__short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.521);
  padding: 7px 8px;
}

.mr-b-l-5 {
  margin-bottom: 5px;
  margin-left: 5px;
}

.selected {
  background: #adf;
}

.image-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.image-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.image-slider__slide {
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4d4a4a;
  margin-right: 3px;
}

.dots_dot:last-child {
  margin-right: 0;
}

.dots__active {
  background: #bd4d4d;
}

.left-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(79, 146, 233, 0.548);
  cursor: pointer;
  z-index: 10;
  left: 5px;
}

.right-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(79, 146, 233, 0.548);
  cursor: pointer;
  z-index: 10;
  right: 5px;
}

.skills-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.skills-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.skills-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-slider__right-scroll {
  width: 30px;
  height: 30px;
  background: none;
}

.skills-slider__right-scroll::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

.skills-slider__left-scroll {
  width: 30px;
  height: 30px;
  background: none;
}

.skills-slider__left-scroll::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(135deg);
          transform: translateY(-50%) translateX(-50%) rotate(135deg);
}

.work-preview {
  width: 400px;
  min-height: 300px;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
  color: #000;
}

.work-preview__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.work-preview__info {
  padding: 5px 10px;
  background: #e6e6e6;
}

.work-preview__title {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 600;
}

.work-preview__skills {
  margin: 9px 0;
}

.work-preview__link {
  text-align: end;
  padding-right: 10px;
}

.mini-skills__item {
  min-width: unset;
  min-height: unset;
  padding: 0 5px;
  font-size: 13px;
}

.mini-skills__box {
  margin-right: 2px;
  margin-bottom: 2px;
}

.mini-skills .selected {
  background: #ce5050;
  color: #f7f7f7;
}

.work-details {
  margin-top: 50px;
  width: 100%;
}

.work-details__image-container {
  height: 400px;
  border-radius: 4px;
  padding: 10px;
  background: #c6c8cb;
}

.work-details__title {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 10px;
}

.work-details__description {
  padding: 10px;
}

.work-details__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-details__images {
  height: 100%;
}

.centered-wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes shift-right {
  0% {
    left: 0%;
  }
  100% {
    left: 105%;
  }
}

@keyframes shift-right {
  0% {
    left: 0%;
  }
  100% {
    left: 105%;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ca3e3e;
  overflow: hidden;
  padding-left: 80px;
}

.loader__shift {
  width: 100px;
  height: 100%;
  background: #8c77ff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: 1s linear shift-right infinite;
          animation: 1s linear shift-right infinite;
  border-radius: 5px;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 80px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item {
  margin: 5px 0;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  list-style: none;
  padding: 7px 10px;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .work-preview {
    width: 350px;
  }
  .skills-info {
    width: unset;
  }
  .nav-menu {
    height: 60px;
    width: 100%;
  }
  .nav-menu nav a li {
    display: inline-block;
  }
  .nav-menu .nav-item {
    height: 40px;
    margin-right: 5px;
    padding: 7px 20px;
  }
  .portfolio_wrapper {
    width: unset;
  }
  .wd-100-with-nav {
    padding: 7px;
    padding-top: 70px;
  }
}

.home {
  background: #1B1B1B;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.intro {
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  width: 100%;
  background: #523731;
  padding: 38px 100px;
}

.about__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about p {
  color: #e2e2e2;
  font-size: 18px;
}

.what-can-i-do {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-works {
  width: 100%;
  height: 550px;
}

.recent-works__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.recent-works__content {
  position: relative;
  background: #523731;
  padding: 50px 80px;
}

.recent-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-works__list--preview + .recent-works__list--preview {
  margin-left: 70px;
}

.recent-works__see-more {
  position: absolute;
  bottom: 12px;
  right: 112px;
  text-align: end;
}

.recent-works__see-more:hover {
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  padding-left: 30px;
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background: #C4C4C4;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.my-card {
  height: 250px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-card__image-box {
  width: 200px;
  height: 200px;
  background: #523731;
  border-radius: 50px;
}

.my-card__info {
  margin-left: 20px;
}

.my-card__name {
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: 600;
}

.my-card__who-am-i {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.915);
}

.my-card__who-am-i--warning {
  display: inline-block;
  margin-left: 5px;
  width: 9px;
  height: 2px;
  background: white;
  animation: blink .5s infinite alternate-reverse;
}

.my-card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-card__social-icon + .my-card__social-icon {
  margin-left: 15px;
}

.social-icon {
  cursor: pointer;
}

.social-icon:hover svg g path {
  -webkit-transition: all .2s;
  transition: all .2s;
  fill: red;
}

.abilities {
  width: 860px;
}

.abilities__title {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 36px;
}

.abilities__abilitie + .abilities__abilitie {
  margin-top: 35px;
}

.abilitie {
  max-width: 460px;
  border-bottom: 3px solid #545454;
}

.abilitie__name {
  font-size: 20px;
  margin-bottom: 11px;
  font-weight: 600;
  color: #e6e6e6;
}

.abilitie__description {
  color: #bbbbbb;
  font-size: 16px;
  padding: 0 10px;
  margin-bottom: 11px;
  width: 90%;
}

.abilitie--right {
  text-align: right;
  margin-left: auto;
}

.abilitie--right > .abilitie__description {
  margin-left: auto;
}
/*# sourceMappingURL=Apps.css.map */